<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title %}Home{% endblock title %} - RESTHooksCRMly</title>

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "home" %}">RESTHooksCRMly</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {# <li class="active"><a href="#">Link</a></li> #}
            <li><a href="{% url "contacts_list" %}">Contacts</a></li>
            <li><a href="{% url "deals_list" %}">Deals</a></li>
            <li><a href="{% url "hooks_list" %}">Hook Subscriptions</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
              <li><a href="{% url "logout" %}">Logout</a></li>
            {% else %}
              <li><a href="{% url "login" %}">Login</a></li>
              <li><a href="{% url "signup" %}">Signup</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      {% block content %}
        <div class="jumbotron">
            <h2>Welcome to a RESTHooksCRMly!</h2>
            <p>This is the greatest demo CRM of all time for REST hooks.</p>
        </div>
      {% endblock content %}

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/jquery.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
