{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h2>Your Hook Subscriptions <a href="{% url "create_hook" %}" class="btn btn-default btn-sm">Create</a></h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Event</th>
            <th>URL</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for hook in hooks %}
            <tr>
              <td>{{ hook.id }}</td>
              <td>{{ hook.event }}</td>
              <td>{{ hook.target }}</td>
              <td><a href="{% url "edit_hook" hook.id %}">edit</a> &amp; <a href="{% url "delete_hook" hook.id %}">delete</a></td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4"><em>No hooks!</em></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Some Explanation</h2>
      <p>We have some events for this model.</p>
    </div>
  </div>
{% endblock content %}
