{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-9">
      <h2>Your Contacts</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td>{{ contact.full_name }}</td>
              <td>{{ contact.email }}</td>
              <td><a href="#">edit</a> &amp; <a href="#">delete</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <h2>Some Explanation</h2>
      <p>We have some events for this model.</p>
    </div>
  </div>
{% endblock content %}
