{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h2>Your Contacts <a href="{% url "create_contact" %}" class="btn btn-default btn-sm">Create</a></h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
            <tr>
              <td>{{ contact.id }}</td>
              <td>{{ contact.full_name }}</td>
              <td>{{ contact.email }}</td>
              <td><a href="{% url "edit_contact" contact.id %}">edit</a> &amp; <a href="{% url "delete_contact" contact.id %}">delete</a></td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4"><em>No contacts!</em></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-md-4">
      <h2>Some Explanation</h2>
      <p>We have some events for this model.</p>
    </div>
  </div>
{% endblock content %}
