{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-7">
      <h2>Your Deals <a href="{% url "create_deal" %}" class="btn btn-default btn-sm"><i class="icon-plus"></i> Create</a></h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for deal in deals %}
            <tr>
              <td>{{ deal.id }}</td>
              <td>{{ deal.title }}</td>
              <td>{{ deal.description|truncatechars:30 }}</td>
              <td>{{ deal.value }}</td> 
              <td><a class="btn btn-default btn-xs" href="{% url "edit_deal" deal.id %}"><i class="icon-pencil"></i></a> <a class="btn btn-default btn-xs" href="{% url "delete_deal" deal.id %}"><i class="icon-remove"></i></a></td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5"><em>No deals!</em></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <h2>API Access</h2>
      <p>In addition to creating these models via a standard Django form, we've also hooked them into <a href="http://django-tastypie.readthedocs.org/en/latest/">TastyPie</a>. The endpoints are:</p>
      <table class="table table-condensed">
        <tbody>
          <tr><td style="border:0"><code>GET</code></td><td style="border:0"><code>/api/v1/deals/</code></td><td style="border:0">list deals</td></tr>
          <tr><td><code>POST</code></td><td><code>/api/v1/deals/</code></td><td>create a deal</td></tr>
          <tr><td><code>GET</code></td><td><code>/api/v1/deals/:id/</code></td><td>get a deal</td></tr>
          <tr><td><code>PUT</code></td><td><code>/api/v1/deals/:id/</code></td><td>update a deal</td></tr>
          <tr><td><code>DELETE</code></td><td><code>/api/v1/deals/:id/</code></td><td>delete a deal</td></tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
