{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h2>{{ contact|yesno:"Edit,Create" }} Contact</h2>
      {% include 'form_snippet.html' with submit_text='Submit' %}
    </div>
    <div class="col-md-4 what-is">
      <h2>Demo Help</h2>
      <p>{{ contact|yesno:"Editing,Creating" }} a contact will cause the corresponding hook to be triggered. If you haven't setup a subscription yet:</p>
      <ol>
        <li><a href={% url "create_hook" %}>Create a subscription</a></li>
        <li>Come back here and {{ contact|yesno:"edit,create" }} a contact.</li>
        <li><a href={%url "hook_history_all" %}>Watch your action get posted!</a></li>
      </ol>
    </div>
  </div>
{% endblock content %}
