{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h2>{{ hook|yesno:"Edit,Create" }} Hook Subscription</h2>
      {% include 'form_snippet.html' with submit_text='Submit' %}
    </div>
    <div class="col-md-4 what-is">
      <h2>Demo Help</h2>
      <p>Creating a subscription to an event means we'll make a POST request to the target URL every time the event happens.</p>
      <p>The request will contain details on which event fired, the data that changed, and the subscription that is responsible for the request.</p>
      <p>To get started quickly, you can setup a bin at <a href="http://requestb.in/">RequestBin</a> to catch your requests.</p>
    </div>
  </div>
{% endblock content %}
