{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h2>Hook History</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Requset Body</th>
            <th>Date Sent</th>
          </tr>
        </thead>
        <tbody>
          {% for history in hook_history %}
            <tr>
              <td class="col-md-1">{{ history.id }}</td>
              <td class="col-md-8">{{ history.payload }}</td>
              <td class="col-md-3">{{ history.sent_date }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="4"><em>No hooks have been triggered yet!</em></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-4 what-is">
      <h2>Demo Help</h2>
      <p>This is the history of requests made by your {{ hook|yesno:"hook,hooks" }}. Each request was made as a result of an event happening (like editing a contact).</p>
      <p>The request body column shows the raw data that was sent to the target URL of the subscription.</p>
    </div>
  </div>
{% endblock content %}
